
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30;
    color: blue;
}

header {
    height: 100px;
    background-color: gray;
}

main {
    height: 600px;
    background-color: aquamarine;
}

footer {
    height: 100px;
    background-color: bisque;
}
